---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div style="display: flex; align-items: center; text-align: justify; padding-bottom: 50px;">

    <div style="flex: 1; font-size: 15px; padding-top: 20px;">
      {{ content }}
    </div>
    <img src="{{page.image | relative_url}}" alt="{{site.title}}"
      style="width: 200px; height: 200px; margin-left: 40px; border-radius: 50%;">

    <style>
      @media screen and (max-width: 600px) {

        /* Adjust styles for smaller screens */
        div {
          flex-direction: column;
          align-items: center;
        }

        img {
          width: 100%;
          max-width: 200px;
          height: auto;
          align-items: center;
          margin-left: 0px;
          margin-right: 0px;
          margin-top: 0px;
        }
      }
    </style>


  </div>


  {%- if site.research.size > 0 -%}
  <h2>{{ page.list_title | default: "Research" }}</h2>
  <ul style="list-style: none;margin-left: 10px;">
    {%- for post in site.research reversed -%}
    <li style="padding: 0px;">
      <hr style="margin-top: 10px; margin-bottom: 10px; opacity: 30%;" />
      <div style="display: flex; align-items: center; text-align: left;">
        <img src="{{post.image | relative_url}}" alt="{{site.title}}"
          style="width: 125px; height: 100%; margin-right: 10px; padding-right: 20px;">
        <div style="vertical-align:middle">
          <div style="font-size: medium; font-weight: 600;">
            {%- if post.link -%}
            <a href="{{ post.link | relative_url }}">{{ post.title }}</a>
            {%- else -%}
            {{ post.title }}
            {%- endif -%}
          </div>

          {%- if post.authors -%}
          {%- assign totalAuthors = post.authors.size -%}
          {%- assign showOnly = 10 -%}

          {%- for author in post.authors limit: showOnly -%}

          {% if author.name contains site.title %}
          {%- assign authorFormat = '<b>' | append: author.name | append: '</b>' -%}
          {% else %}
          {%- assign authorFormat = author.name -%}
          {% endif %}

          {%- if author.url -%}
          <a href="{{ author.url | relative_url }}" style="font-size: small;">
            {{ authorFormat }}
          </a>
          {%- else -%}
          <span style="font-size: small;">{{ authorFormat }}</span><!-- 
          -->
          {%- endif -%}
          <span style="font-size: small;">{% unless forloop.last %}, {% endunless %}</span>
          {%- endfor -%}


          {%- assign showOnlyCutoff = showOnly | minus: 2 -%}
          {%- if post.authors.size > showOnly -%}
          <span id="moreAuthors-{{ forloop.index0 }}" style="display: none; left: 0;"><!-- 
          --><span style="font-size: small;">, </span>
            {%- for author in post.authors offset: showOnly -%}

            {% if author.name == site.title %}
            {%- assign authorFormat = '<b>' | append: author.name | append: '</b>' -%}
            {% else %}
            {%- assign authorFormat = author.name -%}
            {% endif %}

            {%- if author.url -%}
            <a href="{{ author.url | relative_url }}" style="font-size: small;">{{ authorFormat }}</a>{% unless
            forloop.last %}, {%
            endunless %}
            {%- else -%}
            <span style="font-size: small;">
              {{ authorFormat }}{% unless forloop.last %}, {% endunless %}
            </span>
            {%- endif -%}
            {%- endfor -%}
          </span><!--
          -->
          {%- if post.authors.size > 12 -%}
          <span id="showMore-{{ forloop.index0 }}"><!--
          --><span style="font-size: small;">, </span>
            <a id="" href="javascript:void(0);" onclick="toggleAuthors({{ forloop.index0 }})"
              style="font-size: small;">+ {{ totalAuthors | minus: showOnly | minus: 2 }} more</a></span>
          {%- endif -%}
          <span id="lastTwoAuthors-{{ forloop.index0 }}" style="display: inline; left: 0;"><!--
          --><span style="font-size: small;">, </span>
            {%- assign totalAuthors = post.authors.size -%}
            {%- assign lastTwo = totalAuthors | minus: 2 -%}
            {%- for author in post.authors | offset: lastTwo -%}
            {% if author.name == site.title %}
            {%- assign authorFormat = '<b>' | append: author.name | append: '</b>' -%}
            {% else %}
            {%- assign authorFormat = author.name -%}
            {% endif %}
            {%- if author.url -%}
            <a href="{{ author.url | relative_url }}" style="font-size: small;">{{ authorFormat }}</a>{% unless
            forloop.last %}, {%
            endunless %}
            {%- else -%}
            <span style="font-size: small;">
              {{ authorFormat }}{% unless forloop.last %}, {% endunless %}
            </span>
            {%- endif -%}
            {%- endfor -%}
          </span>

          <a id="showLess-{{ forloop.index0 }}" href="javascript:void(0);" onclick="toggleAuthors({{ forloop.index0 }})"
            style="font-size: small; display: none;"> - show less</a>

          {%- endif -%}
          {%- endif -%}

          {{%- if post.subtitle -%}}
          <div style="font-size: small; font-weight: 500;">
            <em>
              {{ post.subtitle }}
            </em>
          </div>
          {%- if post.links -%}
          {%- for link in post.links -%}
          <span style="font-size: small;">
            <a href="{{ link.url | relative_url }}" style="font-size: small;">{{ link.name }}</a>{% unless forloop.last
            %} /
            {%endunless %}
            {%- endfor -%}
            {%- endif -%}
          </span>
          <div style="font-size: small;padding-top: 5px; text-align: justify;">
            {{post.content}}
          </div>
        </div>
      </div>

    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}

</div>

<script>
  function toggleAuthors(index) {
    var moreAuthors = document.getElementById('moreAuthors-' + index);
    var showMore = document.getElementById('showMore-' + index);
    var showLess = document.getElementById('showLess-' + index);
    var lastTwoAuthors = document.getElementById('lastTwoAuthors-' + index);

    if (moreAuthors.style.display === 'none') {
      moreAuthors.style.display = 'inline';
      showMore.style.display = 'none';
      showLess.style.display = 'inline';
      lastTwoAuthors.style.display = 'none';

    } else {
      moreAuthors.style.display = 'none';
      showMore.style.display = 'inline';
      showLess.style.display = 'none';
      lastTwoAuthors.style.display = 'inline';
    }
  }
</script>